.button {
    width: 190px;
    height: 60px;
    font-weight: 600;
    line-height: 58px;
    background: transparent;
    border: 1px solid #F24841;
    color: #F24841;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    -webkit-border-radius: 40px;
            border-radius: 40px;
    
    display: inline-block;
    cursor: pointer;
    @include transition(all, .2s);
    &:hover {
        background-color: #F24841;
        color: #FFF;
    }
    &--black {
        border-color: #000;
        background-color: #000;
        color: #fff;
        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
    &--small {
        font-size: 16px;
        height: 40px;
        line-height: 37px;
        font-weight: 400;
    }
}

/* ------------------------------------ */
/*  SLICK ARROWS  */
.slick-arrow,
.slick-arrow:focus,
.slick-arrow:active,
.slick-arrow:hover {
    width: 70px;
    height: 90px;
    z-index: 10;
    @include transition(all, .2s);
    background-color:  peru;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: 23px 20px;
         -o-background-size: 23px 20px;
            background-size: 23px 20px;
    @media (max-width: 800px) {
        width: 50px;
        height: 70px;
    }
    @media (max-width: 600px) {
        width: 30px;
        height: 50px;
        -webkit-background-size: 16px 16px;
         -o-background-size: 16px 16px;
            background-size: 16px 16px;
    }
    &:before {
        display: none;
    }
}
.slick-arrow:hover {
    opacity: .8;
}
.slick-next,
.slick-next:hover,
.slick-next:focus {
    right: 0;
    background-image: url("../images/right-arrow.svg");
}
.slick-prev,
.slick-prev:hover,
.slick-prev:focus {
    left: 0;
    background-image: url("../images/left-arrow.svg");
}