.offer {
    height: 760px;
    max-height: 100%;
    @include flex($direction: column, $alignI: center, $justify: center);
    
    background-image: url("../images/offer-main.jpg");
    background-position: 50% 50%;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    h1 {
        font-size: 48px;
        font-weight: 500;
        &:after {
            display: block;
            content: "";
            margin: 14px 0;
            height: 1px;
            background-color: #4a4644;
            width: 140px;
        }
    }
    p {
        font-size: 24px;
        font-weight: 300;
        color: #2A2A2A;
    }
    .offer-grid {
        width: 100%;
        height: 100%;
        .flex-row {
            &--6 {
                height: 60%;
            }
            &--4 {
                height: 40%;
            }
            > div {
                height: 100%;
            }
        }
        &__item {
            height: 100%;
            background-position: 50% 50%;
            -webkit-background-size: cover;
                 -o-background-size: cover;
                    background-size: cover;
            &--main {
                height: 100%;
                padding-left: 5%;
                padding-right: 20%;
                padding-bottom: 45px;
                @include flex($direction: column, $justify: flex-end);
            }
            &--text {
                background: #4a4644 !important;
                text-align: center;
                &:before {
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    height: 100%;
                }
                p {
                    color: #fff;
                    display: inline-block;
                    vertical-align: middle;
                    max-width: 97%;
                }
            }
        }
    }
}
