.gallery-section {
    overflow: hidden;
}

.gallery-grid {
    @media (min-width: 1201px) {
        margin: 0 -32px -64px;
    }
    margin-bottom: -20px;

    @media (max-width: 500px) {
        margin: 0 -5px -10px;
    }

    .gallery-item {

        @media (min-width: 1201px) {
            padding: 0 32px;
            margin-bottom: 64px;
        }
        
        margin-bottom: 20px;

        @media (max-width: 700px) {
            width: 33.33%;
        }

        @media (max-width: 500px) {
            width: 50%;
            padding: 0 5px;
            margin-bottom: 10px;
        }

        a,
        img {
            display: block;
            width: 100%;
        }
    }
}



.pagination {
    padding: 45px 0;
    text-align: center;

    .current,
    .page,
    .previouspostslink,
    .nextpostslink {
        display: inline-block;
        font-size: 20px;
        color: #1a1a1a;
        padding: 0 5px;
        vertical-align: baseline;
    }

    .current {
        opacity: 0.5;
    }

    .previouspostslink,
    .nextpostslink {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-size: 24px;
    }

    .previouspostslink:after {
        content: "\f104";
    }
    .nextpostslink:after {
        content: "\f105";
    }
}